<strong>Custom Directives</strong><br>

<br>
<div class="container">

  <label>Restrict first character space input field validation</label><br>
  <input type="text" appFirstCharacterSpaceRestrict><br>
  <label>Only Numbers</label><br>
  <input type="text" appOnlyNumbers><br>
  <label>Only Aphabetes</label><br>
  <input type="text" appOnlyAlphabetes><br>
  <label>Restrict first character zero input field validation</label><br>
  <input type="text" appRestrictFirstCharacterZero><br>
  <label>Restrict two numbers after decimal</label><br>
  <input type="text" appRestrictTwoNumbersAfterDecimal><br>
  <label>Restrict only postive number and decimal </label><br>
  <input type="text" appRestrictNegativeNumber appOnlyNumbers><br>
  <label>Restrict Decimals</label><br>
  <input type="text" appRestrictDecimal appOnlyNumbers><br>
  <label>Restrict only postive number without decimal </label><br>
  <input type="text" appRestrictNegativeNumber appRestrictDecimal appOnlyNumbers><br>
  <label>Restrict Input length upto 5</label><br>
  <input type="text" appRestrictInputLengthWithSpecificNumber [restrictLength]="5"><br>
  <label>Color changes when user enter</label><br>
  <input type="text" appSpecificColor><br>

</div>